// blobs!
// these will meander slowly across the screen
// they show/hide at different widths to avoid text
// and the viewport dictates the animation positioning
.blob-container {
  display: block !important; // hidden inline to avoid giant unstyled SVG flash
  position: relative;
  z-index: 0;
}

.blobby {
  position: absolute;
  z-index: -2; // always below content

  @media screen and (width >= 1800px) {
    font-size: 1.33em;
  }

  @media screen and (width >= 2400px) {
    font-size: 2em;
  }
}

#big-yella {
  height: 16.67em;
  left: -6.67em;

  @media screen and (prefers-reduced-motion: no-preference) {
    animation: blob-spinner 240s infinite linear;
  }
}

#little-lasso {
  height: 2em;
  top: 14.67em;
  left: 4.67em;
  z-index: -1;

  @media screen and (prefers-reduced-motion: no-preference) {
    animation: yee-haw 500s forwards linear;

    @keyframes yee-haw {
      50% {
        transform: translate(20vw, 10vh) rotate(360deg);
      }

      100% {
        transform: translate(3vw, 5vh) rotate(720deg);
      }
    }
  }

  @media screen and (width <= 1000px) {
    display: none;
  }
}

#red-dot {
  height: 1.2em;
  top: 6.67em;
  left: 7.3em;

  @media screen and (prefers-reduced-motion: no-preference) {
    animation: bounce-back 450s forwards linear;

    @keyframes bounce-back {
      10% {
        transform: translate(-5vw, 5vh) rotate(-120deg);
      }

      50% {
        transform: translate(15vw, 10vh) rotate(90deg);
      }

      100% {
        transform: translate(0, -3vh) rotate(-180deg);
      }
    }
  }

  @media screen and (width <= 600px) {
    display: block;
  }
}

#orange-rock {
  height: 1.86em;
  top: 9em;
  left: 12.67em;
  z-index: -1;

  @media screen and (prefers-reduced-motion: no-preference) {
    animation: bounce-rock 300s forwards linear;

    @keyframes bounce-rock {
      30% {
        transform: translate(12vw, 2vh) rotate(40deg);
      }

      70% {
        transform: translate(-5vw, 14vh) rotate(90deg);
      }

      100% {
        transform: translate(0, -2vh) rotate(360deg);
      }
    }
  }

  @media screen and (width <= 1100px) {
    display: none;
  }
}

#big-blue {
  height: 1.87em;
  right: 6.3em;
  top: 14.3em;
  animation: blouncy 600s forwards linear;

  @keyframes blouncy {
    30% {
      transform: translate(-20vw, 10vh) rotate(-80deg);
    }

    70% {
      transform: translate(5vw, -10vh) rotate(200deg);
    }

    100% {
      transform: translate(-10vw, -3vh) rotate(-180deg);
    }
  }

  @media screen and (width <= 1000px) {
    display: none;
  }

  @media screen and (width <= 600px) {
    display: block;
  }
}

#yellow-jr {
  height: 5.34em;
  right: 1.34em;
  top: 10.67em;

  @media screen and (prefers-reduced-motion: no-preference) {
    animation: blob-spinner 100s infinite reverse;
  }

  @media screen and (width <= 600px) {
    display: none;
  }
}

#green-jean {
  height: 1.34em;
  right: 12.67em;
  top: 9.34em;

  @media screen and (prefers-reduced-motion: no-preference) {
    animation: bouncy-greenie 650s forwards linear;

    @keyframes bouncy-greenie {
      10% {
        transform: translate(11vw, -6vh) rotate(-80deg);
      }

      60% {
        transform: translate(-3vw, 12vh) rotate(100deg);
      }

      100% {
        transform: translate(0, -3vh) rotate(-180deg);
      }
    }
  }

  @media screen and (width <= 1000px) {
    display: none;
  }
}

#lasso-returns {
  height: 1.67em;
  right: 0.67em;
  top: 4.67em;

  @media screen and (prefers-reduced-motion: no-preference) {
    animation: haw-yee 400s forwards linear;

    @keyframes haw-yee {
      30% {
        transform: translate(-2vw, -5vw) rotate(80deg);
      }

      60% {
        transform: translate(-5vw, 2vh) rotate(-100deg);
      }

      80% {
        transform: translate(-10vw, -5vh) rotate(180deg);
      }

      100% {
        transform: translate(-2vw, 7vh) rotate(-360deg);
      }
    }
  }
}

@keyframes blob-spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
