.d-header-icons {
  align-items: center;
}

// Remove default ul styling
.navigation ul {
  list-style: none;
  margin: 0;

  li {
    margin-bottom: 0;
  }
}

.d-header .panel {
  grid-column: -4 / 7;
}

// Navigation
.navigation {
  .navigation-list-wrapper {
    visibility: hidden;
    position: fixed;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    max-width: 20rem;
    top: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--secondary);
    padding-top: var(--space-largest);
    padding-bottom: var(--space-largest);
    transform: translateX(100%);
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    overscroll-behavior-y: contain;

    @include respond-above-xl {
      visibility: visible;
      position: relative;
      flex-wrap: wrap;
      flex-direction: row;
      height: auto;
      max-width: 100%;
      background-color: transparent;
      padding-top: 0;
      padding-bottom: 0;
      transform: translateX(0);
      overflow-y: inherit;
    }
  }
}

// topic view
.archetype-regular {
  .navigation .navigation-list-wrapper {
    @media screen and (width <= 1465px) {
      visibility: hidden;
      position: relative;
      flex-wrap: wrap;
      flex-direction: row;
      height: auto;
      max-width: 100%;
      background-color: transparent;
      padding-top: 0;
      padding-bottom: 0;
      transform: translateX(0);
      overflow-y: inherit;
    }
  }
}

// Navigation list
.navigation-list {
  display: flex;
  flex-direction: inherit;
  position: relative;

  a {
    display: block;
    color: var(--primary);
    text-decoration: none;
  }

  &__item {
    display: flex;
    flex-direction: column;
    position: relative;

    @include respond-above-xl {
      flex-direction: row;
    }
  }

  &__link {
    position: relative;
    overflow: hidden;
    margin-left: var(--space-small);
    margin-right: var(--space-small);
    padding: var(--space-small) 0;
    display: flex;

    @include respond-above-xl {
      padding: 0 var(--space-smallest);
    }

    .d-icon-caret-down {
      font-size: var(--font-0);
      width: 1em;
      color: var(--primary);
    }

    // Animate underline
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: -1rem;
      width: 100%;
      height: 0.1em;
      background-color: var(--color-blue);
      opacity: 0;
      transform: translate3d(-100%, 0, 0);
      transition:
        opacity 200ms ease 100ms,
        transform 300ms ease;

      @include respond-above-xl {
        left: 0;
      }
    }

    &:hover::before,
    &:focus::before,
    &.is-active::before {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      transition:
        opacity 25ms ease,
        transform 300ms ease 25ms;
    }
  }

  &__chevron {
    height: 12px;
    width: 12px;
    vertical-align: middle;
  }
}

// Dropdown list
.navigation-list__sub-item-list {
  position: relative;
  display: none;
  box-shadow: inset 0 0 10px rgb(0, 0, 0, 0.1);

  // Menu background
  @include respond-above-xl {
    position: absolute;
    top: 2rem;
    right: -1rem;
    min-width: 13rem;
    background-color: var(--secondary);
    padding: var(--space-small) 0;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgb(0, 0, 0, 0.1);
    z-index: 200;
  }

  &.is-active {
    display: block;
  }

  .navigation-list__sub-item a {
    padding: var(--space-small) var(--space-base);

    &:hover {
      background-color: var(--d-hover);
    }
  }
}

#main:focus {
  outline: none;
}
