// rocket to top!
.discover-list__item {
  &.--end {
    display: flex !important;
    min-height: 300px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary-low);
    border-radius: var(--border-radius);

    button {
      margin-top: 1em;
    }

    .svg-rocket {
      height: 5em;
      transform: rotate(-45deg);
      position: relative;
      top: 0;
      opacity: 1;
      pointer-events: none;

      @media screen and (prefers-reduced-motion: no-preference) {
        transition:
          top 1s ease-out 0.5s,
          opacity 0.75s ease-in 0.5s;
      }
    }

    .svg-rocket-flame {
      @media screen and (prefers-reduced-motion: no-preference) {
        transition: opacity 0.3s ease-in 0.15s;
        opacity: 0;
      }
    }

    .--ignition {
      @media screen and (prefers-reduced-motion: no-preference) {
        animation: rumble 0.5s;
        top: -200vh;
        opacity: 0;

        .svg-rocket-flame {
          opacity: 1;
        }
      }
    }

    @keyframes rumble {
      0% {
        transform: rotate(-45deg);
      }

      20% {
        transform: translate(2px, 0) rotate(-46deg);
      }

      40% {
        transform: translate(1px, -1px) rotate(-44deg);
      }

      60% {
        transform: translate(-1px, -2px) rotate(-46deg);
      }

      80% {
        transform: translate(1px, 1px) rotate(-44deg);
      }

      100% {
        transform: translate(2px, -1px) rotate(-46deg);
      }
    }
  }
}
