@use "sass:math";

// *---------------------------*/
// * Color
// *---------------------------*/
:root {
  /* Typography */
  --color-heading: var(--color-grey);
  --color-text: var(--color-grey--dark);
  --color-text--secondary: var(--color-grey);
  --color-text--reverse: var(--color-white);
  --color-text--reverse--secondary: var(--color-grey--lighter);
  --color-text--link: var(--color-blue--dark);

  /* Surfaces and Borders */
  --color-surface: var(--color-white);
  --color-surface--hover: var(--d-hover);
  --color-surface--active: var(--color-blue--lighter);
  --color-surface--background: var(--color-grey--lightest);
  --color-surface--reverse: var(--color-blue);
  --color-border: rgb(238, 238, 238); // #EEE

  /* Brand */
  --color-brand: var(--color-blue);
  --color-brand--highlight: rgb(160, 215, 42);

  /* Base Palette */
  --color-blue: rgb(14, 118, 178); // #0E76B2
  --color-blue--light: rgb(19, 160, 245); // #13A0F5
  --color-blue--lighter: rgb(0, 174, 239); // #00AEEF
  --color-blue--dark: rgb(0, 127, 173); // $contrast-acceptable-blue #007FAD
  --color-red: rgb(229, 27, 36); // #E51B24
  --color-red--light: rgb(209, 50, 57); // #D13239
  --color-red--lighter: rgb(232, 74, 81); // #E84A51
  --color-red--dark: rgb(168, 24, 31); // #A8181F
  --color-orange: rgb(241, 92, 34); // #F15C22
  --color-orange--light: rgb(240, 121, 74); // #F0794A
  --color-yellow: rgb(242, 232, 143); // #F2E88F
  --color-yellow--light: rgb(251, 245, 175); // #FBF5AF
  --color-yellow--lighter: rgb(255, 255, 229); // #FFFFE5
  --color-yellow--dark: rgb(227, 217, 99); // #E3D963
  --color-green: rgb(0, 149, 58); // #00953A
  --color-green--light: rgb(12, 166, 78); // #0CA64E
  --color-green--lightest: rgb(233, 246, 239); // #E9F6EF
  --color-white--rgb: 255, 255, 255;
  --color-white: rgb(var(--color-white--rgb), 1);
  --color-black--rgb: 0, 0, 0;
  --color-black: rgb(var(--color-black--rgb), 1);
  --color-grey: rgb(51, 51, 51); // #333
  --color-grey--light: rgb(136, 136, 136); // #888
  --color-grey--lighter: rgb(221, 221, 221); // #DDD
  --color-grey--lightest: rgb(245, 245, 245); // #F5F5F5
  --color-grey--dark: rgb(13, 13, 13); // #0D0D0D

  /* Spacing */
  --base-unit: 16px;
  --base-space-unit: 1.2rem;
  --space-minuscule: calc(var(--base-space-unit) / 16);
  --space-smallest: calc(var(--base-space-unit) / 8);
  --space-smaller: calc(var(--base-space-unit) / 4);
  --space-small: calc(var(--base-space-unit) / 2);
  --space-base: calc(var(--base-space-unit) * 1);
  --space-large: calc(var(--base-space-unit) * 1.5);
  --space-larger: calc(var(--base-space-unit) * 2);
  --space-largest: calc(var(--base-space-unit) * 3);
  --space-extravagant: calc(var(--base-space-unit) * 4);

  /* Typography */
  --typography--fontFamily-normal: "Open Sans", helvetica, arial, sans-serif;
  --typography--fontFamily-display: "Rubik", helvetica, arial, sans-serif;
  --typography--fontSize-extravagant: calc(var(--base-unit) * 3.052);
  --typography--fontSize-jumbo: calc(var(--base-unit) * 2.75);
  --typography--fontSize-largest: calc(var(--base-unit) * 1.953);
  --typography--fontSize-larger: calc(var(--base-unit) * 1.563);
  --typography--fontSize-large: calc(var(--base-unit) * 1.25);
  --typography--fontSize-base: calc(var(--base-unit) * 1);
  --typography--fontSize-small: calc(var(--base-unit) * 0.8);
  --typography--fontSize-smaller: calc(var(--base-unit) * 0.64);

  /* Box Shadow */
  --shadow-high: 0px var(--space-minuscule) var(--space-large) 0
    rgb(0, 0, 0, 0.09);
  --shadow-higher: 0px var(--space-smallest) var(--space-larger) 0
    rgb(0, 0, 0, 0.08);
  --shadow-higher--blue: 0px 0 var(--space-large) 0 rgb(129, 190, 225, 0.5);
}

// *---------------------------*/
// * Grid
// *---------------------------*/
$max-width: 1400px;
$width-large: 980px;
$width-medium: 800px;

// *---------------------------*/
// * Modular scale
// * This mixin generates CSS for interpolation of length properties.
// * It has 5 required parameters, including the target property, initial
// * screen size, initial value, final screen size and final value.
// *
// * @param {String} $properties - the CSS property to interpolate
// * @param {Unit} $min-screen - a CSS length unit
// * @param {Unit} $max-screen - value to be parsed
// * @param {Unit} $min-value - a CSS length unit
// * @param {Unit} $max-value - value to be parsed
// *
// * Examples:
// * @include insert((padding-top, padding-bottom), 20rem, 70rem, 0rem, .5rem);
// * @include insert(font-size, 25rem, 64rem, 2.25rem, 4.25rem);
// *
// * More info: https://css-tricks.com/snippets/css/fluid-typography/
// *---------------------------*/
@mixin insert($properties, $min-screen, $max-screen, $min-value, $max-value) {
  & {
    @each $property in $properties {
      #{$property}: $min-value;
    }

    @media screen and (min-width: $min-screen) {
      @each $property in $properties {
        #{$property}: calc-interpolation(
          $min-screen,
          $min-value,
          $max-screen,
          $max-value
        );
      }
    }

    @media screen and (min-width: $max-screen) {
      @each $property in $properties {
        #{$property}: $max-value;
      }
    }
  }
}

// Requires the calc-interpolation function which can also be used independently
@function calc-interpolation($min-screen, $min-value, $max-screen, $max-value) {
  $a: ($max-value - $min-value) / ($max-screen - $min-screen);
  $b: $min-value - $a * $min-screen;
  $sign: "+";

  @if $b < 0 {
    $sign: "-";
    $b: math.abs($b);
  }

  @return calc(#{$a * 100}vw #{$sign} #{$b});
}

// *---------------------------*/
// * Media Queries
// *---------------------------*/
// Breakpoints
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 36em; // 576px

// Small tablets (portrait view)
$screen-md-min: 48em; // 768px

// Tablets and small desktops
$screen-lg-min: 62em; // 992px

// Large tablets and desktops
$screen-xl-min: $nav-minimum-display-width; // 1440px

// Small devices
@mixin respond-above-sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

// Small devices + landscape
@mixin respond-above-sm-landscape {
  @media (min-width: #{$screen-sm-min}) and (orientation: landscape) {
    @content;
  }
}

// Medium devices
@mixin respond-above-md {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }
}

// Medium devices + landscape
@mixin respond-above-md-landscape {
  @media (min-width: #{$screen-md-min}) and (orientation: landscape) {
    @content;
  }
}

// Large devices
@mixin respond-above-lg {
  @media (min-width: #{$screen-lg-min}) {
    @content;
  }
}

// Extra large devices
@mixin respond-above-xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}

// *---------------------------*/
// * Button
// *---------------------------*/
@mixin button-style {
  display: inline-flex;
  position: relative;
  align-items: center;

  @include insert((padding-top, padding-bottom), 20em, 75em, 0.75em, 1em);
  @include insert((padding-left, padding-right), 20em, 75em, 1.5em, 2em);
  overflow: hidden;
  border-radius: 10em;

  @include insert(font-size, 25rem, 64rem, 1.06rem, 1.25rem);
  line-height: 1.2;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  vertical-align: bottom;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s,
    fill 0.3s,
    padding 0.3s;
  appearance: none;
  border: 0;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -1rem;
    width: 0;
    height: 100%;
    transform: skew(-30deg);
    transition: width 0.3s;
    opacity: 0.05;
    background: var(--color-white);
  }
}

// *---------------------------*/
// * Misc
// *---------------------------*/
@mixin content-center {
  max-width: $max-width;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@mixin box-shadow {
  box-shadow: 0 10px 30px rgb(0, 0, 0, 0.1);
}

@mixin bg-content {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
}

@mixin fade($num: 1, $fade: 1, $visible: 2) {
  $a: 100 / (($fade + $visible) * $num);

  @keyframes fade {
    0% {
      opacity: 0;
    }
    #{$a * $fade}% {
      opacity: 1;
    }
    #{$a * ($fade + $visible)}% {
      opacity: 1;
    }
    #{$a * ($fade + $visible + $fade)}% {
      opacity: 0;
    }

    100% {
      opacity: 0;
    }
  }
  animation-name: fade;
  animation-duration: (($fade + $visible) * $num) + s;
  animation-iteration-count: infinite;

  @for $i from 1 through $num {
    &:nth-of-type(#{$i}) {
      animation-delay: (($fade + $visible) * ($i - 1)) + s;
    }
  }
}
