// *---------------------------*/
// * Color
// *---------------------------*/
:root {
  /* Base Palette */
  --color-blue: rgb(14, 118, 178); // #0E76B2

  /* Spacing */
  --base-space-unit: 1.2rem;
  --space-smallest: calc(var(--base-space-unit) / 8);
  --space-small: calc(var(--base-space-unit) / 2);
  --space-base: calc(var(--base-space-unit) * 1);
  --space-largest: calc(var(--base-space-unit) * 3);
}

// *---------------------------*/
// * Media Queries
// *---------------------------*/
// Large tablets and desktops
$screen-xl-min: $nav-minimum-display-width; // 1440px

// Extra large devices
@mixin respond-above-xl {
  @media (min-width: #{$screen-xl-min}) {
    @content;
  }
}
