<div class="discover-homepage">
  <Blobs />
  <SearchFilter />
  <div class="discover-homepage__directory">
    <NavigationList />
    <HomeList />
    <div class="add-your-site">
      <h3>Want to add your community?
        <a
          href="https://meta.discourse.org/t/introducing-discourse-discover/295223"
        >learn how</a></h3>
    </div>
  </div>
</div>

{{hide-application-sidebar}}