$yellow-blob: dark-light-choose(#fbf5af, #6a6208);
$red-blob: dark-light-choose(#e84a51, #8b2c30);
$blue-blob: dark-light-choose(#28abe2, #052e3d);
$orange-blob: dark-light-choose(#f0794a, #8f320d);
$green-blob: dark-light-choose(#0ba64e, #0a6833);
$black-blob: dark-light-choose(var(--primary), var(--primary-medium));

:root {
  --yellow-blob: #{$yellow-blob};
  --red-blob: #{$red-blob};
  --blue-blob: #{$blue-blob};
  --orange-blob: #{$orange-blob};
  --green-blob: #{$green-blob};
  --black-blob: #{$black-blob};
}
