:root {
  --heading-font-family: Rubik, sans-serif;
  --font-family: "Open Sans", ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
}

@font-face {
  font-family: "Open Sans";
  src: url($open-sans) format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  src: url($rubik) format("truetype");
  font-display: swap;
}

.discover-home {
  .d-header-wrap {
    position: static;
    font-size: var(--font-up-1);
    .d-header {
      background: transparent;
      box-shadow: none;
      .d-header-icons {
        // hide default discourse nav
        display: none;
      }
    }
  }

  #main-outlet {
    padding-top: 0;
  }

  #main-outlet-wrapper {
    padding: 0;
    max-width: unset;
  }

  .homepage-filter-banner {
    grid-area: search;
    padding: 4em 0 5em;
    margin-bottom: 2em;
    @media screen and (max-width: 1100px) {
      padding-bottom: 0;
    }
    @media screen and (max-width: 767px) {
      margin-bottom: 0;
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1em;
      padding: 0 1rem;
    }

    h1 {
      font-size: 2.75em;
      margin-bottom: 0.5em;
      line-height: 1.2;
    }

    input {
      width: 100%;
      max-width: 43.25em;
      border-radius: 0.5em;
      font-size: var(--font-up-1);
    }
  }

  .discover-homepage__directory {
    display: grid;
    grid-template-areas: "filters directory";
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 5fr;
    max-width: var(--d-max-width);
    gap: 1em 4em;
    margin: 0 auto 4em;
    @media screen and (max-width: 1200px) {
      gap: 1em 2em;
    }
    @media screen and (max-width: 767px) {
      grid-template-areas: "filters" "directory";
      grid-template-columns: 1fr;
    }
  }

  .discover-navigation-list-wrapper {
    grid-area: filters;
    align-self: start;
    padding-left: 0.5em;
    @media screen and (min-width: 768px) {
      position: sticky;
      top: 1em;
    }
    @media screen and (max-width: 767px) {
      padding: 0 1rem;
    }
  }

  .discover-navigation-list {
    grid-area: filters;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
    align-self: start;
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: var(--font-up-1);

    @media screen and (min-width: 768px) {
      flex-direction: column;
    }

    @media screen and (max-width: 767px) {
      font-size: var(--font-0);
      margin-bottom: 2em;
    }

    li {
      display: flex;
      gap: 0.5em;
      align-items: center;
      justify-content: center;
      padding: 0.25em 1em;
      background: var(--primary-50);
      border-radius: 0.25em;
      cursor: pointer;

      .d-icon {
        font-size: var(--font-down-2);
        color: var(--primary-high);
      }
      &.--active {
        background: var(--tertiary);
        color: var(--secondary);
        .d-icon {
          color: currentColor;
        }
      }

      .discourse-no-touch & {
        &:not(.--active) {
          &:hover,
          &:focus {
            background: var(--primary-100);
          }
        }
      }
    }
  }

  .add-your-site {
    font-size: var(--font-down-2);
    text-align: center;
    color: var(--primary-high);
    h3 {
      font-weight: normal;
      margin-top: 2em;
    }

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  .discover-list {
    --border-radius: 1em;
    grid-area: directory;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18em, 1fr));
    gap: 2em 1.5em;

    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    width: 100%;

    padding: 0;
    @media screen and (max-width: 767px) {
      padding: 0 1rem;
    }
    @media screen and (min-width: 768px) {
      padding-right: 0.5em;
    }

    > div:not(.loading-container) {
      display: none; // hides a div created by loadMore component
    }

    &__item {
      display: grid;
      grid-template-rows: subgrid; // inherit parent rows
      grid-row: span 4;
      gap: 0;
      position: relative;

      &:nth-child(5n + 1) {
        --no-image-background-color: #e84a5120;
        --no-image-color: #e84a5150;
      }
      &:nth-child(5n + 2) {
        --no-image-background-color: #f0794a20;
        --no-image-color: #f0794a60;
      }
      &:nth-child(5n + 3) {
        --no-image-background-color: #fbf5af40;
        --no-image-color: #fbf5af;
      }
      &:nth-child(5n + 4) {
        --no-image-background-color: #0ba64e20;
        --no-image-color: #0ba64e50;
      }
      &:nth-child(5n + 5) {
        --no-image-background-color: #28abe220;
        --no-image-color: #28abe250;
      }

      &-link {
        display: grid;
        grid-template-rows: subgrid; // inherit parent rows
        grid-row: span 4; // set implicit rows on parent
        grid-template-areas: "banner" "title" "content" "meta";
        gap: 0;

        --content-padding: 0 1.5rem;

        border-radius: var(--border-radius);
        border: 1px solid var(--primary-200);

        background-color: var(--secondary);
        overflow: hidden;
        transition: all 0.15s ease-in-out;

        .discourse-no-touch & {
          &:hover,
          &:focus {
            --border-color: var(--primary-300);
            transform: translateY(-1px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
          }
        }
      }

      &-banner {
        grid-area: banner;
        position: relative;

        border-bottom: 1px solid var(--primary-200);
        margin-bottom: 1em;
        overflow: hidden;

        container-type: inline-size;

        .no-image {
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          font-size: 5em;

          background: var(--no-image-background-color);
          color: var(--no-image-color);
        }

        img {
          width: 100%;
          height: 9em;
          object-fit: cover;
          object-position: center top;
          &:not([src]) {
            opacity: 0;
          }

          // adjust the images somewhat proportionately
          @container (min-width: 25em) {
            height: 15em;
          }
          @container (min-width: 40em) {
            height: 25em;
          }
        }
      }

      h2 {
        grid-area: title;
        color: var(--primary);
        font-weight: 500;
        display: flex;
        gap: 0.33em;
        align-items: baseline;
        line-height: var(--line-height-medium);
        padding: var(--content-padding);
        margin-bottom: 0.75em;
        min-width: 0;
        font-size: var(--font-up-1);

        container-type: inline-size;

        span {
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
          overflow: hidden;
          overflow-wrap: break-word;

          // scale up fonts a little
          @container (min-width: 20em) {
            font-size: var(--font-up-2);
          }
          @container (min-width: 40em) {
            font-size: var(--font-up-3);
          }
        }
      }

      &-excerpt {
        grid-area: content;
        color: var(--primary-high);
        margin: 0;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        padding: var(--content-padding);
      }

      &-logo {
        width: 1em;
        height: 1em;
        border-radius: 0.25em;
        position: relative;
        top: 0.12em; // optical alignment
        flex: 0 0 auto;
      }

      &-meta {
        grid-area: meta;
        color: var(--primary-medium);
        font-size: var(--font-down-1);
        display: flex;
        gap: 1em;
        padding: var(--content-padding);
        margin: 1.5em 0 1em;

        .d-icon {
          color: var(--primary-high);
        }

        .d-icon-user-friends {
          top: 0.05em; // optical alignment
        }

        span {
          display: flex;
          align-items: center;
          gap: 0.5em;
        }
      }

      a.admin-link {
        position: absolute;
        z-index: 2;
        right: 15px;
        top: 15px;
        font-size: var(--font-up-2);
        opacity: 0;
      }

      &:hover a.admin-link {
        opacity: 0.75;
      }
    }

    .no-results {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.33em;
      width: 100%;
      font-size: var(--font-up-2);
      height: 10vh;
    }
  }
}

// blobs!
// these will meander slowly across the screen
// they show/hide at different widths to avoid text
// and the viewport dictates the animation positioning

.blob-container {
  display: block !important; // hidden inline to avoid giant unstyled SVG flash
}

.blobby {
  position: absolute;
  z-index: -2; // always below content
  @media screen and (min-width: 1800px) {
    font-size: 1.33em;
  }
  @media screen and (min-width: 2400px) {
    font-size: 2em;
  }
}

#big-yella {
  height: 16.67em;
  left: -6.67em;
  @media screen and (prefers-reduced-motion: no-preference) {
    animation: blob-spinner 240s infinite linear;
  }
}

#little-lasso {
  height: 2em;
  top: 14.67em;
  left: 4.67em;
  z-index: -1;

  @media screen and (prefers-reduced-motion: no-preference) {
    animation: yee-haw 500s forwards linear;
    @keyframes yee-haw {
      50% {
        transform: translate(20vw, 10vh) rotate(360deg);
      }
      100% {
        transform: translate(3vw, 5vh) rotate(720deg);
      }
    }
  }

  @media screen and (max-width: 1000px) {
    display: none;
  }
}

#red-dot {
  height: 1.2em;
  top: 6.67em;
  left: 7.3em;

  @media screen and (prefers-reduced-motion: no-preference) {
    animation: bounce-back 450s forwards linear;
    @keyframes bounce-back {
      10% {
        transform: translate(-5vw, 5vh) rotate(-120deg);
      }

      50% {
        transform: translate(15vw, 10vh) rotate(90deg);
      }

      100% {
        transform: translate(0vw, -3vh) rotate(-180deg);
      }
    }
  }

  @media screen and (max-width: 600px) {
    display: block;
  }
}

#orange-rock {
  height: 1.86em;
  top: 9em;
  left: 12.67em;
  z-index: -1;

  @media screen and (prefers-reduced-motion: no-preference) {
    animation: bounce-rock 300s forwards linear;
    @keyframes bounce-rock {
      30% {
        transform: translate(12vw, 2vh) rotate(40deg);
      }

      70% {
        transform: translate(-5vw, 14vh) rotate(90deg);
      }

      100% {
        transform: translate(0vw, -2vh) rotate(360deg);
      }
    }
  }

  @media screen and (max-width: 1100px) {
    display: none;
  }
}

#big-blue {
  height: 1.87em;
  right: 6.3em;
  top: 14.3em;

  animation: blouncy 600s forwards linear;
  @keyframes blouncy {
    30% {
      transform: translate(-20vw, 10vh) rotate(-80deg);
    }

    70% {
      transform: translate(5vw, -10vh) rotate(200deg);
    }

    100% {
      transform: translate(-10vw, -3vh) rotate(-180deg);
    }
  }

  @media screen and (max-width: 1000px) {
    display: none;
  }

  @media screen and (max-width: 600px) {
    display: block;
  }
}

#yellow-jr {
  height: 5.34em;
  right: 1.34em;
  top: 10.67em;

  @media screen and (prefers-reduced-motion: no-preference) {
    animation: blob-spinner 100s infinite reverse;
  }

  @media screen and (max-width: 600px) {
    display: none;
  }
}

#green-jean {
  height: 1.34em;
  right: 12.67em;
  top: 9.34em;

  @media screen and (prefers-reduced-motion: no-preference) {
    animation: bouncy-greenie 650s forwards linear;
    @keyframes bouncy-greenie {
      10% {
        transform: translate(11vw, -6vh) rotate(-80deg);
      }

      60% {
        transform: translate(-3vw, 12vh) rotate(100deg);
      }

      100% {
        transform: translate(0vw, -3vh) rotate(-180deg);
      }
    }
  }
  @media screen and (max-width: 1000px) {
    display: none;
  }
}

#lasso-returns {
  height: 1.67em;
  right: 0.67em;
  top: 4.67em;

  @media screen and (prefers-reduced-motion: no-preference) {
    animation: haw-yee 400s forwards linear;
    @keyframes haw-yee {
      30% {
        transform: translate(-2vw, -5vw) rotate(80deg);
      }

      60% {
        transform: translate(-5vw, 2vh) rotate(-100deg);
      }

      80% {
        transform: translate(-10vw, -5vh) rotate(180deg);
      }

      100% {
        transform: translate(-2vw, 7vh) rotate(-360deg);
      }
    }
  }
}

@keyframes blob-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
